/* You can add global styles to this file, and also import other style files */
/* .body
{
    margin: 0;
    padding: 0;
    background: url("../src/assets/p1.jpg"); 
    background-size:cover;
   
    font-family: sans-serif;
} */

/* body{
    height:40em; 
    background-size:cover;
    width:auto;
    background-image:url('../src/assets/p2.jpg');
    background-position:50% 50%;
  } */