<!-- <p>registration works!</p> -->

<!DOCTYPE html>
<html>

<head>
    <title>Registration</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


</head>

<body>
    <div class="container">
        <div class=" d-flex justify-content-center h-100">


            <div class="backCard">
                <div class="card-header d-flex justify-content-center">
                    <div class="picture-container">
                        <div class="picture">

                            <div >
                                <img src="../../../assets/user.png" class="avatar picture-src" alt="avatar">
                                
                                <input type="file" class="text-center center-block file-upload">
                              </div><br>
                        </div>
                    </div>
                    

                </div>
                <div class="sign d-flex justify-content-center">
                    <h3>Sign up</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="username">

                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-envelope"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="E-mail">

                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="password">
                        </div>

                    </form>
                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <input type="submit" value="Register" class="btn float-right Register_btn">
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>

</html>